<div fxLayout="row" fxLayoutAlign="center center" fxFill>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="new-upload" fxLayout="row" fxLayoutAlign="end center">
      <label for="new-file" class="pointer">Upload new PDF file</label>
      <input type="file" id="new-file" class="hidden">
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="list-files">
      <mat-list role="list">
        <mat-list-item *ngIf="loadingDocs" role="listitem" class="loading">Loading</mat-list-item>
        <mat-list-item *ngIf="!loadingDocs && docsList.length == 0" role="listitem">No saved documents</mat-list-item>
        <mat-list-item *ngFor="let doc of docsList" role="listitem">{{doc.name}}</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
