<div fxLayout="row" fxLayoutAlign="center center" fxFill>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div class="new-upload" fxLayout="row" fxLayoutAlign="end center">
      <label for="new-file" class="pointer">Upload new PDF file</label>
      <input type="file" id="new-file" class="hidden">
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="list-files">
      <mat-list role="list">
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
